$font-weight-bold: 800;
$font-weight-semibold: 600;
$font-weight-light: 300;
$main-font: "Inter", sans-serif;
$body-background-color: #141414;
$container-background-color: #1F1F1F;
$link-button-background-color: #333333;
$white-color: #FFFFFF;
$green-color: #C4F82A;
$small-font: 0.875rem;
$large-font: 1.5rem;